<h1>Welcome to Photogur!</h1>

<%= link_to "New Picture", "/pictures/new" %>

<br><br>

<% c = 0 %>
<!-- <div class="container">
 --><ul class="ch-grid">
    <% @pictures.each do |picture| %>
      <% if c == 3 %>
        <% c = 1 %>
      <% else %>
        <% c += 1 %>
      <% end %>
        <div class="imgs_container"><li>
        <%= link_to picture_path(picture[:id]) do %>
          <%= image_tag picture[:url], class: "display_imgs" %>
        <% end %>
         <p class="title"><%= link_to picture.title, picture_path(picture[:id]) %> <br> by <%= picture[:artist] %></p>
      </li></div>
    <% end %>
  </ul>
<!-- </div>
 -->